<%- include('partials/head') %>
<%- include('partials/navbar') %>

<!--- Collections Title -->

<div class="container-fluid padding">
    <div class="row welcome text-center col-12">
        <div class="col-12">
            <h1 class="display-4">COLLECTIONS</h1>
            <hr>
        </div>
    </div>
</div>

<!--- Cards -->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/c1.png">
                <div class="card-body">
                    <h4 class="card-title">Winter 2020</h4>
                    <p class="card-text">Anaelise is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/c2.png">
                <div class="card-body">
                    <h4 class="card-title">Spring 2021</h4>
                    <p class="card-text">Kevvo is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">SHOP NOW</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/c3.png">
                <div class="card-body">
                    <h4 class="card-title">NYFW</h4>
                    <p class="card-text">TUFF Bitches is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>