<%- include('partials/head') %>
<%- include('partials/navbar') %>

<!--- Meet the team -->

<div class="container-fluid padding">
    <div class="row welcome text-center col-12">
        <div class="col-12">
            <h1 class="display-4">Meet the Team</h1>
            <hr>
        </div>
    </div>
</div>

<!--- Cards -->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/team1.png">
                <div class="card-body">
                    <h4 class="card-title">Anaelise Hall</h4>
                    <p class="card-text">Anaelise is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/team2.png">
                <div class="card-body">
                    <h4 class="card-title">Kevin Sandoval</h4>
                    <p class="card-text">Kevvo is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/media/images/team1.png">
                <div class="card-body">
                    <h4 class="card-title">Tuff Bitches</h4>
                    <p class="card-text">TUFF Bitches is one of the baddest bitches in the game you hoes better watch out.</p>
                    <a href="#" class="btn btn-outline-secondary">See profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Connect -->

<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect with Us</h2>
        </div>
        <div class="col-12 social padding">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>